body {
  background: linear-gradient(hsl(211, 100%,89%), hsl(211, 70%, 25%));
  background-repeat: no-repeat;
  height: 100vh;  
} 
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.santa-section {
  display: flex;
  max-height: 50vh;
}


.santa-logo {
  justify-content: flex-start;
  margin-left: 10vh;
  margin-top: 15vh;
  max-height: 20vh;  
  max-width: 20vh;  
}

.speech-bubble {
  justify-content: flex-end;
  width: 60vw;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 20vh;
  border: solid 2px black;
}

.christmas-tree {
  margin-top: 25vh;
}
.snowman {
  max-height: 30vh;
}

.user-form, .group-form {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 50vw;
  padding: 20px;
  box-shadow: 0 0 15px -6px black;
}
    
.user-form input, .group-form input {
  margin: 10px;
}

.interests-field { 
  height: 5vh; 
  margin-left: 1vh;
  width: 48vw;
}

.myWidth{
  width: 48vw;
  margin: auto;
  padding: 0; 
}
.create-user-button {
  width: 48.3vw;
  border-left: 1px solid
}















